
.App {
  height: 100%;
  width: 100%;
}
#header{
  height: 10vh;
  background-color: rgb(177, 61, 61);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content{
  display: flex;
}

#banner{
  width:40%;
  height:90%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: gray;
  /* font-size: 2rem; */
}
img{
  width:40%;
  height:90vh;
}
#workSpace{
  width:60%;
  height:90%;
  background-color: whitesmoke;
}

#options{
  margin-top:10px;
  display: flex;
  justify-content: space-around;
}

#contentSpace{
  /* text-align: center; */
  height: 80vh;
  margin-top: 10px;
  overflow-y: auto;
}